@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: black;
  --secondary: #bfc2c5;
  --accent: #ffe047;
  --white: #ffffff;
} 

body {
  background-image: url('../src/assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: var(--primary);
  font-family: 'Mulish', sans-serif;
  height: 100vh;
}

/* Navigation Start */
 #menu-background {
  position: relative;
 }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 5px;
  z-index: -1;
  background-color: rgba(191, 194, 197, 0.9);
  border-radius: 2px;
  transform: rotate(-4deg);
}

#overlay-text {
  position: relative;
  color: var(--accent);
}

#text-shadow {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

#overlay-title {
  position: absolute;
  background-color: var(--primary);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: -6px;
  margin-right: -6px;
  margin-top: -1px;
  margin-bottom: -4px;
  z-index: -1;
  transform: rotate(.7deg);
}
/* Navigation End */

/* About Start */
/* .container {
  white-space: nowrap;
}
#intro {
  position: fixed;
  top: 35%;
  left: 41%;
  transform: translate(-35%, -41%);
  font-size: 1.6rem;
  font-weight: 700;
}

#intro-name {
  font-size: 4rem;
  font-weight: 900;
}

#intro-title {
  position: fixed;
  display: inline-block;
  top: 45%;
  left: 58%;
  transform: translate(-45%, -58%);
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--accent);
}

#dark-overlay {
  position: absolute;
  display: inline-block;
  background-color: var(--primary);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: -6px;
  margin-right: -6px;
  margin-top: -1px;
  margin-bottom: -4px;
  z-index: -1;
  transform: rotate(.7deg);
}

p {
  position: fixed;
  top: 52.5%;
  left: 62.5%;
  transform: translate(-52.5%, -62.5%);
  font-size: 1.55rem;
  font-weight: 700;
  text-align: right;
} */

/* About End */